        <div class="just-listed-featured-wrap">
            <div class="slide-inner-wrap clear ">
                <h3>Just Listed</h3>
                <div class="list-feature-slider">
                    
                               {% for s in justin %}
                                 <div class="slides">
                                     <div class="slide-item-wrap">
                                         <div class="property-slider">
                                             <ul class="slides">
                                                 
                                        {% if s.images is defined %}
                                            {% for value in s.images %}
                                                <li class="slide">
                                                   <img src="{{ asset('properties/')}}{{value}}" alt="" height="300">
                                                </li>
                                            {% endfor %}
                                        {% endif %}

                                             </ul>
                                         </div>
                                         <div class="slide-info">
                                             <div class="slide-item-price">
                                                 <p>${{s.ListPrice|number_format(0, '.', ',')}}</p>
                                                 <p><span>{{s.beds}}</span><span class="small-slide-item-conten">bd</span><span>{{s.bath}}{% if s.halfbath > 0 %}.5{% endif %}</span><span class="small-slide-item-conten">ba</span></p>
                                             </div>
                                             <div class="slide-info-details-wrap">
                                                 <div class="slide-info-size">
                                                     <p>{{s.SqftTotal|number_format(0, '.', ',')}}<span>sq ft</span></p>
                                                     <p>{{s.LotSizeArea}}<span>ac</span></p>
                                                     <p>{{s.YearBuilt}}<span>yr built</span></p>
                                                 </div>
                                                 <address>
                                                     <p>{{s.Address}} {{s.City}}, {{s.StateOrProvince}} {{s.PostalCode}}</p>
                                                     <div class="slide-info-details-btn-wrap">
                                                         <a href="{{path('details', {'id': s.Matrix_Unique_ID})}}"><img src="{{asset('images/details.gif')}}" alt=""></a>
                                                         <a href="#" class="preview"><img src="{{asset('images/preview.gif')}}" alt=""></a>
                                                     </div>
                                                     <div class="slide-info-details-links-wrap">
                                                         <span>{{s.SubdivisionName}}</span>
                                                         <div class="slide-info-details-link">
                                                             <a href="#"><img src="{{asset('images/share.gif')}}" alt=""></a>
                                                             <a href="#"><img src="{{asset('images/favorite.gif')}}" alt=""></a>
                                                         </div>
                                                     </div>
                                                 </address>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                {% endfor %}





                </div>
            </div>
        </div>