   <section class="property-popup-wrap" id="property-popup-wrap">
      <div class="property-popup-inner-wrap">
           <div class="property-inner clear">
               <div class="feature-content">
                   <span><i class="fa fa-close" aria-hidden="true"></i></span>
                   <div class="feature-content-title">
                       <h2>(PREVIEW TEMPLATE) 12417 Fairfax Ridge PL<span>Austin, TX 78738</span></h2>
                       
                       <div class="active-favorite">
                           <a href="#" class="feature-active-btn">Active</a>
                           <a href="#" class="feature-favorites-btn"><img src="{{asset('images/preview-favorites.gif')}}" alt=""></a>
                           <a href="#" class="view-details-btn"><img src="{{asset('images/preview-details.gif')}}" alt=""></a>
                       </div>
                   </div>
                   <div class="feature-icon-title">
                       <div class="feature-icon-item"><img src="{{asset('images/property-sq-ft.gif')}}" alt=""><span>3,453 sq ft</span></div>
                       <div class="feature-icon-item"><img src="{{asset('images/bedrooms.gif')}}" alt=""> <span>5 Bedrooms</span></div>
                       <div class="feature-icon-item"><img src="{{asset('images/baths.gif')}}" alt=""> <span>3.5 Baths</span></div>
                       <div class="feature-icon-item"><img src="{{asset('images/garage.gif')}}" alt=""> <span>3 Car Garage</span></div>
                       <div class="feature-icon-item"><img src="{{asset('images/acres.gif')}}" alt=""> <span>0.3 acres</span></div>
                   </div>
                   <div class="feature-content-figure">
                       <figure>
                           <img src="{{asset('images/address-thumb.png')}}" alt="">
                       </figure>
                       <div class="feature-content-icon">
                           <a href="#"><img src="{{asset('images/camera-icon.jpg')}}" alt=""></a>
                           <a href="#"><img src="{{asset('images/men-icon.jpg')}}" alt=""></a>
                           <a href="#"><img src="{{asset('images/windows-iocn.jpg')}}" alt=""></a>
                       </div>
                   </div>
               </div>

               <div class="featured-carousel" id="popup-carousel">
                   <div class="popup-carousel-inner">
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                       <div class="carousel-item">
                           <img src="{{asset('images/property-detail-image-size2.gif')}}" alt="">
                       </div>
                   </div>
               </div>

               <div class="popup-content-text">
                   <p>A rare find in Spanish Oaks. Meticulously designed custom home w/ authentic European aesthetic &amp; modern amenities. This floor plan was perfected for effortless living, flow &amp; natural light. There are multiple living areas, a separate office &amp; exercise room. Imported Spanish clay roof tile, carved limestone cladding &amp; trim, wide plank white oak wood floors, Calacutta Gold marble, inset cabinetry. Full price offer includes a $50,000 pool credit. Luxury resort style community, amenities &amp; golf</p>
                   <a href="#">VIEW DETAILS</a>
               </div>

           </div>
       </div>
   </section>